## How to create a dictionary

#### Case - 1

- When we already know the element

In [ ]:
emp = {'Name': 'Mayank Ghai', 'Age': 28, 'City': 'Bengaluru', 'Company': 'IZMO pvt ltd'}

In [ ]:
print(emp, type(emp))

{'Name': 'Mayank Ghai', 'Age': 28, 'City': 'Bengaluru', 'Company': 'IZMO pvt ltd'} <class 'dict'>

### Case -2

- Using a dict() or Typecasting

Syntax:
     
     dict(iterable)
     
     - The itearble that we are passing inside the dict() should also have one more iterable inside it
         - list of a list
         - list of a tuple
         - tuple of a list
         - tuple of a tuple
     - The inner iterable should have two elements, the first element becomes the key and the second element will become the value associated to that particular key

In [ ]:
t = (('Name', 'Atul'), ('Age', 63)) # tuple of a tuple
print(t, type(t))

(('Name', 'Atul'), ('Age', 63)) <class 'tuple'>

In [ ]:
dict(t)

{'Name': 'Atul', 'Age': 63}

In [ ]:
lst = [('Name', 'Chandni'), ('Age', 34)] # list of a tuple
print(lst, type(lst))

[('Name', 'Chandni'), ('Age', 34)] <class 'list'>

In [ ]:
dict(lst)

{'Name': 'Chandni', 'Age': 34}

In [ ]:
emp = [['Name', ['Mayank', 'Parveen']], ['Salary', [80000, 100000]]] # list of a list
emp

[['Name', ['Mayank', 'Parveen']], ['Salary', [80000, 100000]]]

In [ ]:
dict(emp)

{'Name': ['Mayank', 'Parveen'], 'Salary': [80000, 100000]}

#### By using enumerate() inside a dict()

##### enumerate()

    - It takes an iterable as an argument
    - It returns an eumerate object
    - To fetch the values from an enumerate object we need to pass them in either a list ([...]), a tuple((...))or a dictionary-({....})
    - It maps the elements of the iterable one by one from 0 to len(iterable)-1

In [ ]:
a = 'Python'
e = enumerate(a)
print(e, type(e))

<enumerate object at 0x000001D305E13C40> <class 'enumerate'>

In [ ]:
list(e)

[(0, 'P'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n')]

In [ ]:
a = 'Python'
e = enumerate(a)
print(e, type(e))
tuple(e)

<enumerate object at 0x000001D30578C680> <class 'enumerate'>

((0, 'P'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n'))

In [ ]:
a = 'Python'
e = enumerate(a)
print(e, type(e))
dict(e)

<enumerate object at 0x000001D30578CEA0> <class 'enumerate'>

{0: 'P', 1: 'y', 2: 't', 3: 'h', 4: 'o', 5: 'n'}

In [ ]:
for i,j in enumerate(a):
    print(i,j)

0 P
1 y
2 t
3 h
4 o
5 n

### Case - 3

#### Zip ()

    - It takes two iterable as an argument
    - It maps all the elements of fisrt iterable to all the element of the second iteable one by one in a sequnece
    - It fetch the values we can pass the object to list [], tuple () or a dictionary {}
    
__Note__:-

- While creating a dictionary using zip(), we should remember that it should have two iterable object as an argument
- The number of elements inside the iterable should be the same
- If the number of elements are not equal it will map only the elements which have respectively leaving the element as it is in the one having greater number of elements

a = 'abcde'

lst = [10,20,30,40,50]

                        a  b  c  d  e
                        1  2  3  4  5
                       10 20 30 40 50

In [ ]:
a = 'abcde'
lst = [10,20,30,40,50]

z = zip(a, lst) #here the values in a will be considered as keys and the values in the lst will be considered as the values
print(z)

<zip object at 0x000001D305886CC0>

In [ ]:
print(dict(z))

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50}

In [ ]:
a = 'abcd'
lst = [10,20,30,40,50]

z = zip(a, lst) #here the values in a will be considered as keys and the values in the lst will be considered as the values
print(z)

<zip object at 0x000001D305753900>

In [ ]:
print(dict(z))

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [ ]:
country = ['India', 'China', 'Vietnam', 'USA']
capitals = ['New-Delhi', 'Beijing', 'Hanoi', 'Newyork']

z = zip(country,capitals)
z

In [ ]:
print(dict(z))

{'India': 'New-Delhi', 'China': 'Beijing', 'Vietnam': 'Hanoi', 'USA': 'Newyork'}

#### Case -4

- By taking the input from the user

In [ ]:
d = input('Enter a dictionary: ')
print(d, type(d))

Enter a dictionary: {1:100, 2:200}
{1:100, 2:200} <class 'str'>

In [ ]:
d = dict(input('Enter a dictionary: '))
print(d, type(d))

Enter a dictionary: {1:100, 2:200}

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [ ]:
d = eval(input('Enter a dictionary: '))
print(d, type(d))

Enter a dictionary: {1:100, 2:200}
{1: 100, 2: 200} <class 'dict'>

In [ ]:
# Wehave create two empty list that will store the keys and the values associated to it
keys = []
values = []

# taking input from the user
for i in range(4):
    a = eval(input('Enter a key:'))
    keys.append(a)

    b = eval(input('Enter a value'))
    values.append(b)

#zipping the two list (iterable) together
z = zip(keys, values)
print(dict(z))

Enter a key:1
Enter a value100
Enter a key:2
Enter a value200
Enter a key:3
Enter a value300
Enter a key:1
Enter a value400
{1: 400, 2: 200, 3: 300}

In [ ]:
# Wehave create two empty list that will store the keys and the values associated to it
keys = []
values = []

# taking input from the user
for i in range(4):
    a = input('Enter a key:')
    keys.append(a)

    b = eval(input('Enter a value: '))
    values.append(b)

#zipping the two list (iterable) together
z = zip(keys, values)
print(dict(z))

Enter a key:Name
Enter a value: ['Mayank', 'Abha', 'Nitin', 'Geetika']
Enter a key:Salary
Enter a value: [80000, 75000, 100000, 55000]
Enter a key:Age
Enter a value: [28,27,26,27]
Enter a key:City
Enter a value: ['Bengaluru', 'Goa', 'Sikkim', 'Chandigarh']
{'Name': ['Mayank', 'Abha', 'Nitin', 'Geetika'], 'Salary': [80000, 75000, 100000, 55000], 'Age': [28, 27, 26, 27], 'City': ['Bengaluru', 'Goa', 'Sikkim', 'Chandigarh']}

### Case - 5

- Using Dictionary comprehension

In [ ]:
# create a dictionary takeing numbers as the keys and their squares as the values
d = {i:i**2 for i in range(1,11)}
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
# create a dictionary takeing even numbers as the keys and their squares as the values
d = {i:i**2 for i in range(1,11) if i%2 == 0}
print(d)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [ ]:
# Create a dictionary where the letter A to Z are the keys and their associated ASCII values are hoing to be the values
ascii_dict = {letter: ord(letter) for letter in 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'}

print(ascii_dict)

{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72, 'I': 73, 'J': 74, 'K': 75, 'L': 76, 'M': 77, 'N': 78, 'O': 79, 'P': 80, 'Q': 81, 'R': 82, 'S': 83, 'T': 84, 'U': 85, 'V': 86, 'W': 87, 'X': 88, 'Y': 89, 'Z': 90}

In [ ]:
d={chr(i):i for i in range(ord("A"),ord("Z")+1)}
print(d)

{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72, 'I': 73, 'J': 74, 'K': 75, 'L': 76, 'M': 77, 'N': 78, 'O': 79, 'P': 80, 'Q': 81, 'R': 82, 'S': 83, 'T': 84, 'U': 85, 'V': 86, 'W': 87, 'X': 88, 'Y': 89, 'Z': 90}

In [ ]:
# Wehave create two empty list that will store the keys and the values associated to it
keys = []
values = []

# taking input from the user
for i in range(4):
    a = input('Enter a key:')
    keys.append(a)

    b = eval(input('Enter a value: '))
    values.append(b)

#zipping the two list (iterable) together
z = dict(zip(keys, values))
print(z)

Enter a key:Name
Enter a value: ['Mayank', 'Atul']
Enter a key:Age
Enter a value: [32, 63]
Enter a key:Salary
Enter a value: [90000, 150000]
Enter a key:City
Enter a value: ['Chandigarh', 'Phagwara']
{'Name': ['Mayank', 'Atul'], 'Age': [32, 63], 'Salary': [90000, 150000], 'City': ['Chandigarh', 'Phagwara']}

In [ ]:
import pandas as pd
pd.DataFrame(z)

     Name  Age  Salary        City
0  Mayank   32   90000  Chandigarh
1    Atul   63  150000    Phagwara

### Nested Dictionary

- A dictionary within another dictionary is known as nested dictionary
- Where a dictionary is mapped to a key of another dictionary then it is known as Nested dictionary

Syntax:

    {key:{key:value}}

In [ ]:
emp_1 = {'name':'Rajesh', 'age':32, 'ID':101, 'salary':45000}
emp_2 = {'name':'Pooja', 'age':28, 'ID':102, 'salary':48000}
emp_3 = {'name':'Ali', 'age':29, 'ID':103, 'salary':45000}

In [ ]:
emp_detail = {'emp_1_detail':emp_1, 'emp_2_detail':emp_2, 'emp_3_detail':emp_3}

In [ ]:
emp_detail

{'emp_1_detail': {'name': 'Rajesh', 'age': 32, 'ID': 101, 'salary': 45000},
 'emp_2_detail': {'name': 'Pooja', 'age': 28, 'ID': 102, 'salary': 48000},
 'emp_3_detail': {'name': 'Ali', 'age': 29, 'ID': 103, 'salary': 45000}}

In [ ]:
emp_detail['emp_1_detail']

{'name': 'Rajesh', 'age': 32, 'ID': 101, 'salary': 45000}

In [ ]:
emp_detail['emp_2_detail']

{'name': 'Pooja', 'age': 28, 'ID': 102, 'salary': 48000}

In [ ]:
emp_detail['emp_1_detail']['name']

'Rajesh'

In [ ]:
emp_detail['emp_3_detail']['age']

29

# Dictionary are mutable

In [ ]:
emp_detail['emp_1_detail']['salary'] = 75000

In [ ]:
emp_detail

{'emp_1_detail': {'name': 'Rajesh', 'age': 32, 'ID': 101, 'salary': 75000},
 'emp_2_detail': {'name': 'Pooja', 'age': 28, 'ID': 102, 'salary': 48000},
 'emp_3_detail': {'name': 'Ali', 'age': 29, 'ID': 103, 'salary': 45000}}

In [ ]:
emp_detail['emp_1_detail'] = 'Name'

In [ ]:
emp_detail

{'emp_1_detail': 'Name',
 'emp_2_detail': {'name': 'Pooja', 'age': 28, 'ID': 102, 'salary': 48000},
 'emp_3_detail': {'name': 'Ali', 'age': 29, 'ID': 103, 'salary': 45000}}

### How to iterate over a nested dictionary

In [ ]:
emp_1 = {'name':'Rajesh', 'age':32, 'ID':101, 'salary':45000}
emp_2 = {'name':'Pooja', 'age':28, 'ID':102, 'salary':48000}
emp_3 = {'name':'Ali', 'age':29, 'ID':103, 'salary':45000}

In [ ]:
emp_detail = {'emp_1_detail':emp_1, 'emp_2_detail':emp_2, 'emp_3_detail':emp_3}

In [ ]:
emp_detail

{'emp_1_detail': {'name': 'Rajesh', 'age': 32, 'ID': 101, 'salary': 45000},
 'emp_2_detail': {'name': 'Pooja', 'age': 28, 'ID': 102, 'salary': 48000},
 'emp_3_detail': {'name': 'Ali', 'age': 29, 'ID': 103, 'salary': 45000}}

In [ ]:
# here we are iterating over the keys of emp_detail
for i in emp_detail:
    print(i)

emp_1_detail
emp_2_detail
emp_3_detail

In [ ]:
# we want to iterate over the values

for i in emp_detail:
    print(emp_detail[i])

{'name': 'Rajesh', 'age': 32, 'ID': 101, 'salary': 45000}
{'name': 'Pooja', 'age': 28, 'ID': 102, 'salary': 48000}
{'name': 'Ali', 'age': 29, 'ID': 103, 'salary': 45000}

In [ ]:
#Fetch out the names of all the employees from the nested dictionary

for i in emp_detail:
    print(emp_detail[i]['name'])

Rajesh
Pooja
Ali

In [ ]:
for i in emp_detail:
    print(emp_detail[i]['age'])

32
28
29

In [ ]:
# fetch out the employee name along with salary and age

for i in emp_detail:
    print(emp_detail[i]['name'], emp_detail[i]['age'], emp_detail[i]['salary'])

Rajesh 32 45000
Pooja 28 48000
Ali 29 45000

In [ ]:
emp_1 = {'name':'Rajesh', 'age':32, 'ID':101, 'salary':45000, 'city':'Cochin'}
emp_2 = {'name':'Pooja', 'age':28, 'ID':102, 'salary':48000, 'city':'Goa'}
emp_3 = {'name':'Ali', 'age':29, 'ID':103, 'salary':45000,'city':'Jaipur'}

In [ ]:
emp_detail = {'emp_1_detail':emp_1, 'emp_2_detail':emp_2, 'emp_3_detail':emp_3}

In [ ]:
emp_detail

{'emp_1_detail': {'name': 'Rajesh',
  'age': 32,
  'ID': 101,
  'salary': 45000,
  'city': 'Cochin'},
 'emp_2_detail': {'name': 'Pooja',
  'age': 28,
  'ID': 102,
  'salary': 48000,
  'city': 'Goa'},
 'emp_3_detail': {'name': 'Ali',
  'age': 29,
  'ID': 103,
  'salary': 45000,
  'city': 'Jaipur'}}

In [ ]:
# change the city of rajesh

for i in emp_detail:
    if emp_detail[i]['name'] == 'Rajesh':
        emp_detail[i]['city'] = 'Mumbai'

In [ ]:
emp_detail

{'emp_1_detail': {'name': 'Rajesh',
  'age': 32,
  'ID': 101,
  'salary': 45000,
  'city': 'Mumbai'},
 'emp_2_detail': {'name': 'Pooja',
  'age': 28,
  'ID': 102,
  'salary': 48000,
  'city': 'Goa'},
 'emp_3_detail': {'name': 'Ali',
  'age': 29,
  'ID': 103,
  'salary': 45000,
  'city': 'Jaipur'}}

### Methods

In [ ]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

### keys()

- It returns a dictionary key object, the dictionary key object contains a list of keys from the dictionary

In [ ]:
d = {i:i**2 for i in range(1,11)}
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
a = d.keys()
print(a, type(a))

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10]) <class 'dict_keys'>

In [ ]:
emp_detail.keys()

dict_keys(['emp_1_detail', 'emp_2_detail', 'emp_3_detail'])

#### Inner Keys

In [ ]:
for i in emp_detail:
    print(emp_detail[i].keys())

dict_keys(['name', 'age', 'ID', 'salary', 'city'])
dict_keys(['name', 'age', 'ID', 'salary', 'city'])
dict_keys(['name', 'age', 'ID', 'salary', 'city'])

### values()

- It returns a dictionary value object, the dictionay values object contains a list of the values from the dictionary

In [ ]:
d.values()

dict_values([1, 4, 9, 16, 25, 36, 49, 64, 81, 100])

In [ ]:
emp_detail.values()

dict_values([{'name': 'Rajesh', 'age': 32, 'ID': 101, 'salary': 45000, 'city': 'Mumbai'}, {'name': 'Pooja', 'age': 28, 'ID': 102, 'salary': 48000, 'city': 'Goa'}, {'name': 'Ali', 'age': 29, 'ID': 103, 'salary': 45000, 'city': 'Jaipur'}])

#### Inner values

In [ ]:
for i in emp_detail:
    print(emp_detail[i].values())

dict_values(['Rajesh', 32, 101, 45000, 'Mumbai'])
dict_values(['Pooja', 28, 102, 48000, 'Goa'])
dict_values(['Ali', 29, 103, 45000, 'Jaipur'])

### items()

- It returns a dict item object, that contains a list of tuple where every tuple has two values
- The first element of a tuple is the key and the second element of the tuple is the values associated to that particular key

In [ ]:
d.items()

dict_items([(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)])

In [ ]:
emp_detail.items()

dict_items([('emp_1_detail', {'name': 'Rajesh', 'age': 32, 'ID': 101, 'salary': 45000, 'city': 'Mumbai'}), ('emp_2_detail', {'name': 'Pooja', 'age': 28, 'ID': 102, 'salary': 48000, 'city': 'Goa'}), ('emp_3_detail', {'name': 'Ali', 'age': 29, 'ID': 103, 'salary': 45000, 'city': 'Jaipur'})])

#### Inner Items

In [ ]:
for i in emp_detail:
    print(emp_detail[i].items())

dict_items([('name', 'Rajesh'), ('age', 32), ('ID', 101), ('salary', 45000), ('city', 'Mumbai')])
dict_items([('name', 'Pooja'), ('age', 28), ('ID', 102), ('salary', 48000), ('city', 'Goa')])
dict_items([('name', 'Ali'), ('age', 29), ('ID', 103), ('salary', 45000), ('city', 'Jaipur')])

In [ ]:
emp_detail

{'emp_1_detail': {'name': 'Rajesh',
  'age': 32,
  'ID': 101,
  'salary': 45000,
  'city': 'Mumbai'},
 'emp_2_detail': {'name': 'Pooja',
  'age': 28,
  'ID': 102,
  'salary': 48000,
  'city': 'Goa'},
 'emp_3_detail': {'name': 'Ali',
  'age': 29,
  'ID': 103,
  'salary': 45000,
  'city': 'Jaipur'}}

In [ ]:
for i, j in emp_detail.items():
    print(i)
    print(j)

emp_1_detail
{'name': 'Rajesh', 'age': 32, 'ID': 101, 'salary': 45000, 'city': 'Mumbai'}
emp_2_detail
{'name': 'Pooja', 'age': 28, 'ID': 102, 'salary': 48000, 'city': 'Goa'}
emp_3_detail
{'name': 'Ali', 'age': 29, 'ID': 103, 'salary': 45000, 'city': 'Jaipur'}

In [ ]:
for i, j in emp_detail.items():
    print(i) #fetches the keys
    print(j) # fetches the values
    print('----------------------------------')
    for x in j.items(): # I am again using item method to get the value of the inner dictionary
        print(x)
    print()

emp_1_detail
{'name': 'Rajesh', 'age': 32, 'ID': 101, 'salary': 45000, 'city': 'Mumbai'}
----------------------------------
('name', 'Rajesh')
('age', 32)
('ID', 101)
('salary', 45000)
('city', 'Mumbai')

emp_2_detail
{'name': 'Pooja', 'age': 28, 'ID': 102, 'salary': 48000, 'city': 'Goa'}
----------------------------------
('name', 'Pooja')
('age', 28)
('ID', 102)
('salary', 48000)
('city', 'Goa')

emp_3_detail
{'name': 'Ali', 'age': 29, 'ID': 103, 'salary': 45000, 'city': 'Jaipur'}
----------------------------------
('name', 'Ali')
('age', 29)
('ID', 103)
('salary', 45000)
('city', 'Jaipur')